@import "../../app.component.css";
.profile-card {
  margin: auto;
  padding: 32px;
  padding-top: 20px;
  justify-content: center;
  width: 60%;
  margin-top: 20px;
}

.full-width {
  width: 100%;
}

mat-card-header {
  justify-content: center;
  padding: 0px;
}
mat-form-field {
  margin-bottom: 20px;
}
