html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
  --primary: #009688;
}
.green-snackbar {
  background-color: green;
}

.green-snackbar .mat-snack-bar-container {
  color: white;
}

.green-snackbar .mat-snack-bar-container button {
  background-color: white;
  color: green;
}


